@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap'); /*Länk fonten som används */

:root /*skapar "genväg" till färgerna, lättare till ändring på hela sidan*/ 
{
    --color-dark:#0B0F19;
    --color-primary:#6366f1;
    --color-mediumgray: #565973;
    --color-gray:#9397AD;
    --color-white:#ffff;
    --color-lightgray: #e2e5f1;
 }

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* ??? */
}

/* Sakerna till navigationen, högst upp på sidan*/

.container {
    width: 100%;
    margin: 0 auto;
    padding-inline: 1rem;
}

















@media (width > 768) /*mobilläge*/ {

    
}

@media (width > ) /*surfplatta*/ {

}